.tasks-display-box{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

table {
    width: 100%;
    border: 1px solid black;
}
 
th {
    border-bottom: 1px solid black;
}
 
td {
    text-align: center;
}