// add your global imports and css rules here

// @import "../../../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  padding: 0px 80px;
}

#success {
  color: rgb(17, 199, 17);
}

#error {
  color: red;
}

.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 30px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-image: linear-gradient(90.3deg, rgb(246, 132, 39) 0.29%, rgb(255, 204, 25) 99.77%);
  cursor: pointer;
  gap: 3px;
  color: white;
}

.primary-btn:hover {
  background-image: linear-gradient(90.3deg, rgb(232, 115, 20) 0.29%, rgb(228, 181, 9) 99.77%);
}


.secondry-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #16A085 0%, #4d920e 51%, #16A085 100%);
  cursor: pointer;
  gap: 3px;
  color: white;
  display: block;
  background-size: 200% auto;
  text-transform: uppercase;
  transition: 0.5s;
}

.secondry-btn:hover {
  background-position: right center;
}


.red-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
  cursor: pointer;
  gap: 3px;
  color: white;
  display: block;
  background-size: 200% auto;
  text-transform: uppercase;
  transition: 0.5s;
}

.red-btn:hover {
  background-position: right center;
}