// add your global imports and css rules here

// @import "../../../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container{
    padding: 0px 80px;
}

#success{
  color: rgb(17, 199, 17);
}

#error{
  color: red;
}