.signup-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px 125px;
    gap: 10px;
}

.signup-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.login-link{
    color: rgb(246, 132, 39);
    cursor: pointer;
}
.login-link:hover{
    text-decoration: underline;
}

.input-box{
    padding: 8px 16px;
    font-size: 16px;
    outline: none;
    border-radius: 8px;
    border:  1px solid gray;
}

.signup-btn{
    background-image: linear-gradient(90.3deg, rgb(246, 132, 39) 0.29%, rgb(255, 204, 25) 99.77%);
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    outline: none;
    border-radius: 8px;
}
.signup-btn:hover{
    background-image: linear-gradient(90.3deg, rgb(232, 115, 20) 0.29%, rgb(228, 181, 9) 99.77%);
}